.userdetail{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #dddddd35; 

    img{
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.info{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    overflow-y: scroll;
}
    .option{
        border-bottom: 1px solid #dddddd35; 
        padding-bottom:5px;

        .title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
        }

        .detIcon{
            width: 12px;
            height: 12px;
            background-color: rgba(17, 25, 40, 0.3);
            border-radius: 50%;
            /* padding: 8px; */
            cursor: pointer;
        }

        .photos{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .photoItem{

                display: flex;
                align-items: center;
                justify-content: space-between;

                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 5px;
                    object-fit: cover;
                }
            }
        }
    }


.info::-webkit-scrollbar {
    width: 10px;
  }
  
  .info::-webkit-scrollbar-thumb {
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 10px;
    border: 1px solid rgba(17, 25, 40, 0.75);
  }
  
  .info::-webkit-scrollbar-track {
    background:none;
    border-radius: 10px;
  }

.btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
button{
    width: 100px;
    height: 40px;
    border: none;
    color:#fff;
    cursor: pointer;
    border-radius: 10px;
}
.blk{
    background-color: rgba(231, 6, 51, 0.753);
&:hover{
    background-color:rgba(230, 76, 51, 0.953);
}
}
.log{
    background-color: rgba(27, 160, 218, 0.753);
&:hover{
    background-color:rgba(18, 173, 240, 0.953);
}
}